<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>add contact</title>
  </head>
  <body>
    <form class="" action="/contacts/add" method="post">
      <fieldset>
        <legend>Input Data Contact</legend>
        <b>Nama : </b><br>
        <input type="text" name="nama" value=""> <br><br>
        <b>Company : </b><br>
        <input type="text" name="company" value=""> <br><br>
        <b>Phone : </b><br>
        <input type="text" name="phone" value=""> <br><br>
        <b>Email : </b><br> 
        <input type="text" name="email" value=""> <br><br>
        
        <input type="submit" value="SUBMIT">
      </fieldset>
    </form>
  </body>
</html>