<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> <%=titleTask%> </title>
  </head>
  <body>
    <h1>WELCOME TO MY PAGE</h1>
    <a href="http://localhost:3000/contacts">Contacts</a>
    <a href="http://localhost:3000/groups">Group</a>
    <a href="http://localhost:3000/profile">Profile</a>
    <a href="http://localhost:3000/address">Address</a>
  </body>
</html>
