<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HOME</title>
  </head>
  <body>
    <center>
      <br><br><br>
    <a href="/home/profile"><button type="button" name="button">PROFILE</button></a> <br><br><br>
    <a href="/home/profile/contacts"><button type="button" name="button">CONTACT</button></a>
    <a href="/home/groups"><button type="button" name="button">GROUPS</button></a>
  </center>
  </body>
</html>
